{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="edit-wrapper">
    <div class="edit-container">

        <div class="edit-header">
            <h1>Edit Your Profile</h1>
            <p>Update your information below and click Save.</p>
        </div>

        <form method="POST" enctype="multipart/form-data" class="edit-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_displayName">Name</label>
                {{ form.displayName }}
            </div>

            <div class="form-group">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label for="id_github">GitHub URL</label>
                {{ form.github }}
            </div>

            <div class="form-group">
                <label for="id_web">Website</label>
                {{ form.web }}
            </div>

            <!-- PROFILE IMAGE -->
            <div class="form-group">
                <label>Profile Picture</label>

                <div class="image-upload-row">

                    <!-- Upload Box -->
                    <div class="image-upload-box" id="imageUploadBox"
                         {% if request.user.author.profileImage %}
                         style="background-image: url('{{ request.user.author.profileImage.url }}');"
                         {% endif %}>
                         
                        <div class="upload-content">
                            <i class="fa-solid fa-image fa-2x"></i>
                            <span>Click to select image</span>
                        </div>

                        {{ form.profileImage }}
                    </div>

                    <!-- Remove Button -->
                    <button type="button" class="remove-image-btn" id="removeImageBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>

                </div>

                <!-- Hidden Django clear checkbox -->
                <div style="display:none;">
                    {{ form.profileImage.clear_checkbox }}
                </div>

            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'author-profile' request.user.author.id %}" class="btn btn-secondary">
                    Cancel
                </a>
            </div>

        </form>

    </div>
</div>

<link rel="stylesheet" href="{% static 'css/accounts/edit_profile.css' %}">
<script src="{% static 'js/edit_profile.js' %}"></script>

{% endblock %}