{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crimson{% endblock %}</title>
    <script src="https://kit.fontawesome.com/8e7e7749b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <a href="/posts/stream"">Crimson</a> 
            <br>
        </div>

        <nav class="sidebar-links">

            <a href="/posts/stream" id="stream">
                <i class="fa-regular fa-house"></i>
                <span>Home</span>
            </a>

            <a href="{% url 'authors-list' %}" id="explore">
                <i class="fa-regular fa-compass"></i>
                <span>Explore</span>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'my-profile' %}" id="profile">
                    <i class="fa-regular fa-user"></i>
                    <span>Profile</span>
                </a>

                <a href="{% url 'follow-requests' %}" id="requests">
                    <i class="fa-regular fa-bell"></i>
                    <span>Requests</span>
                </a>
                {% if user.is_staff %}
                <a href="{% url 'deleted_entries' %}" id="admin-deleted">
                    <i class="fa-regular fa-trash-can"></i>
                    <span>Deleted</span>
                </a>
                {% endif %}

                <form method="POST" action="{% url 'logout' %}" style="display: contents;" id="logout">
                    {% csrf_token %}
                    <button type="submit" class="sidebar-link"
                            onclick="return confirm('Logging Out\n\nIt will be lonely without you… come back soon! ¯\\_(ツ)_/¯');">
                        <i class="fa-regular fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">
                    <i class="fa-regular fa-user"></i>
                    <span>Login</span>
                </a>
            {% endif %}

        </nav>
    </aside>

    <!-- Content Area -->
    <div class="content-wrapper">
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <span>&copy; {{ now|date:"Y" }} Crimson. All rights reserved.</span>
        </footer>
    </div>

</div>

{% block extra_js %}
{% endblock %}
<div id="glass-overlay"></div>
<span id="toggle-torch"><i class="fa-regular fa-moon"></i></span>
</body>
    <script src="{% static 'js/script.js' %}"></script>
</html>